
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  height: 100vh;
}

.app-title{
  margin-left: 20px;
}

.divider{
  width: 2px;
  background-color: black;
  height: 100%;
}



